@model bool
@{
    ViewData["Title"] = "";
}

<div>
    @if (Model)
    {
        <span>Vote was added!</span>
    }
    else
    {
        <span>Vote was not added... Please check your shet!</span>
    }
</div>
