@model List<ProjectStatusDto>
@{
    var projectStatuses = Model;
    ViewData["Title"] = "Project Statuses";
}

<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @if (projectStatuses.Count == 0)
            {
                <tr class="cursor-pointer text-center">
                    <td class="" colspan="100">No statuses.</td>
                </tr>
            }
            @foreach (var projectStatus in projectStatuses)
            {
                <tr class="cursor-pointer">
                    <td>@projectStatus.Name</td>
                    <td>@projectStatus.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
