@model bool
@{
    ViewData["Title"] = "";
}

<div>
    @if (Model)
    {
        <span>Your project was created!</span>
    }
    else
    {
        <span>Project was not created... Please check your shet!</span>
    }
</div>
